<div class="section">
    <div class=" bgcolor w-100 ">
        <div class="container  pt-5 pb-5 ">
            <div class="row">
                <div class="col-md-4 bgcolor">
                    <div class=" text-center pt-5 ">
                        <h3>LOCATION</h3>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" text-center pt-5">
                        <h3>AROUND THE WEB</h3>
                        <div class="icons text-center">
                            <i class="fa-brands fa-facebook p-2 me-1 icon-circle  "></i>
                            <i class="fa-brands fa-twitter p-2  me-1  icon-circle "></i>
                            <i class="fa-brands fa-linkedin p-2  me-1 icon-circle  "></i>
                            <i class="fa-solid fa-globe p-2  me-1  icon-circle  "></i>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center pt-5">
                        <h3>ABOUT FREELANCER</h3>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="copyright p-3 text-center">
        <p>Copyright © Your Website 2021</p>
    </div>


</div>

