<nav class="navbar navbar-expand-lg backcolor p-4 fixed-top col-12-p1">
    <div class="container-fluid">
      <a class="navbar-brand startframe  " routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav  ms-auto  d-flex  justify-content-end pe-5">    
          <li class="nav-item">
            <a class="nav-link  apc me-2 "  routerLinkActive="bgnav rounded-pill"        routerLink="about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link apc me-2 "  routerLinkActive="bgnav rounded-pill"        routerLink="portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link apc me-2  "   routerLinkActive="bgnav rounded-pill"  routerLink="contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
