.backcolor{
    background-color:#2C3E50 ;
}

.startframe{
    font-size:32px;
    font-weight: 700;
    color:#fff;
    padding-left: 40px;
}

.apc{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.bgnav{
    background-color:#1ABC9C ;
}