<section>
    <div class="container mt-5 pt-5">
        <div class="contactUS mt-4 text-center ">
            <h2 class="frame ">CONTACT SECTION</h2>
             <div class="lineicon  ">
                <div class="line text-center "></div>
                <div class="icon"><i class="fa-solid fa-star"></i></div>
                <div class="line text-center "></div>
             </div>




        </div>


       <div class="container w-50">
        <form>
                <div class=" mt-5 pt-3">
                    <div class="mt-5" >
                        <input type="text" required="" id="name"  class="form-control  border-end-0 border-top-0 border-start-0 border-bottom-1  rounded-0  mt-4    no-focus  custom-text   pb-2 " placeholder="userName">
                        <span class="error"></span>
                    </div>
        
                    <div class="mt-5" >
                        <input type="number" required="" id="name"  class="form-control  border-end-0 border-top-0 border-start-0 border-bottom-1  rounded-0  mt-4    no-focus  custom-text   pb-2 " placeholder="userAge">
                        <span class="error"></span>
                    </div>
        
                    <div class="mt-5">
                        <input type="email" required="" id="email" class="form-control   mt-4  border-end-0 border-top-0 border-start-0 border-bottom-1  rounded-0   no-focus  custom-text  pb-2" placeholder="userEmail">
                        <span class="error"></span>
                    </div>
                    <div class="position-relative   mt-5">
                        <input type="password" required="" id="password" class="form-control   mt-4  border-end-0 border-top-0 border-start-0 border-bottom-1  rounded-0   no-focus  custom-text  pb-2  " placeholder="userPassword">
                        <span class="error"></span>
                        <span class="showPass" style="opacity: 0; bottom: -20px;"><i data-show="show" class="fa-solid  text-center  bg-transparent  fa-eye-slash  border-end-0 border-top-0 border-start-0 border-bottom-1  rounded-0 pb-2  no-focus  custom-text   "></i></span>
        
                    </div>
            <button type="submit" class="btn btn-primary mb-5 send">send message</button>
      </div>
      </form>
       </div>


    </div>
</section>






