<section class="body pt-5 ">
  <div class="container  mt-5  ">
    <div class="content text-center  pt-4">
      <img src="../../assets/images/avataaars.png" alt="">
      <h2 class="mt-5 frame">START FRAMEWORK</h2>
      <div class="lineicon p-3  ">
        <div class="line text-center "></div>
        <div class="icon"><i class="fa-solid fa-star"></i></div>
        <div class="line text-center "></div>
     </div>
  <p class="body  pb-3"  >Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>






